/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work_sans_font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles start*/
.display_flex {
    display: flex;
}

.text_primary {
    color: #FF900E;
}

/* dark 02 */
.text_gray {
    color: #424242;
}

/* dark 03 */
.text_light_gray {
    color: #727272;
}

.bg_light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn_primary {
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    align-items: center;
    padding: 20px 25px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}

.section_title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
/* shared styles end*/

/* header styles */

/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}

.nav_item {
    list-style: none;
    margin-right: 30px;
}

.nav_link {
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner_content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner_title {
    font-size: 4rem;
    font-weight: 700;
}

.banner_discription {
    line-height: 26px;
    margin-bottom: 32px;
}

.banner_image {
    width: 100%;
    margin-bottom: 45px;
}

/* team and feature related styles */
.teams {
    align-items: center;
}

.team_img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our_feature {
    margin-left: 75px;
    max-width: 537px;
}

.section_title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

#quick_list {
    font-weight: 500;
}  

.feature_discription {
    line-height: 26px;
    margin-bottom: 32px;
}

/* Responsive @midea query */
/* mobile device */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav_links,
    .teams {
        flex-direction: column;
    }

    .team_img_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .our_feature {
        margin-left: 20px;
    }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }

    .our_feature {
        margin: 20px auto;
    }
}

