/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.work_sans_font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles start*/
.display_flex {
    display: flex;
}

.text_primary {
    color: #FF900E;
}

/* dark 02 */
.text_gray {
    color: #424242;
}

/* dark 03 */
.text_light_gray {
    color: #727272;
}

.bg_light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn_primary {
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    align-items: center;
    padding: 20px 25px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}

.section_title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
/* shared styles end*/

/* header styles */

/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}

.nav_item {
    list-style: none;
    margin-right: 30px;
}

.nav_link {
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner_content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner_title {
    font-size: 4rem;
    font-weight: 700;
}

.banner_discription {
    line-height: 26px;
    margin-bottom: 32px;
}

.banner_image {
    width: 100%;
    margin-bottom: 45px;
}

/* team and feature related styles */
.teams {
    align-items: center;
}

.team_img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our_feature {
    margin-left: 75px;
    max-width: 537px;
}

.section_title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

#quick_list {
    font-weight: 500;
}  

.feature_discription {
    line-height: 26px;
    margin-bottom: 32px;
}

/* enjoy feature related styles */
.enjoy_features {
    gap: 140px;
}

#enjoy_feature_title {
    max-width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.enjoy_feature_card {
    /* max-width: 586px; */
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-radius: 8px;
}

.enjoy_feature_card .enjoy_feature_title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
}

.enjoy_feature_card .enjoy_discription {
    line-height: 26px;
}

#experience_badge {
    max-width: 342px;
    padding: 46px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -100px;
    margin-left: -100px;
}

#experience_years {
    font-size: 4rem;
    font-weight: 700;
}

.featured_architec img {
    width: 100%;
}


/* some facts related styles */
.fact_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact_discription {
    max-width: 540px;
    line-height: 26px;
    margin-bottom: 50px;
}

.fact_card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fact_number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact_name {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

/* sponsor related styles */
.sponspors_info {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.sponsor_discription {
    line-height: 26px;
}

.sponspors_companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}

.sponspors_companies img {
    filter: grayscale(100%);
}

/* footer related styles */
footer {
    padding: 130px 0 130px 0;
}

.architec_copyright {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF4E7;
    padding: 40px 0;
    text-align: center;
    border-radius: 8px;
}

.footer_discription {
    font-size: 20px;
}


/* Responsive @midea query */
/* mobile device */
@media screen and (max-width: 576px) {
    main > section {
        margin-top: 80px;
    }

    .navbar, 
    .nav_links,
    .teams, 
    .enjoy_features {
        flex-direction: column;
    }

    .team_img_container, 
    .fact_container, 
    .sponspors_companies {
        grid-template-columns: 1fr;
    }

    .fact_container {
        justify-items: center;
        gap: 24px;
    }

    .sponspors_companies {
        justify-items: center;
        gap: 50px;
    }

    .our_feature {
        margin-left: 20px;
    }

    .enjoy_features {
        gap: 50px;
    }

    #experience_badge {
        margin: 20px 0 0 20px;
    }

    footer {
        padding: 80px 0 80px 0;
    }
}


/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .enjoy_features {
        flex-direction: column;
    }

    .our_feature {
        margin: 20px auto;
    }

    .sponspors_companies, .fact_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience_badge {
        margin: 20px 0 0 20px;
    }
}